body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background: rgb(206, 103, 246);
  background: radial-gradient(
    circle,
    rgba(206, 103, 246, 1) 0%,
    rgba(122, 55, 210, 1) 59%,
    rgba(88, 17, 131, 1) 100%
  );
}

.headertop {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.navbar {
  width: 80%;
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.headerlogo {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.headerlink1,
.headerlink2,
.headerlink3 {
  font-size: 18px;
  color: #e5e7eb;
  margin-left: 15px;
}

.headerlink1 {
  margin-left: auto;
}

.headerlink1:hover,
.headerlink2:hover,
.headerlink3:hover {
  text-shadow: 0 0 12px #fff;
}
.mainbox {
  margin: auto;
  width: 80%;
  height: auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.awesometext {
  flex: 1 1 90%;
  max-width: fit-content;
  text-align: justify;
}

.awesometext h1 {
  margin: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.36);
  padding: 8px;
  border-radius: 18px;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}
.awesomeimage {
  flex: 1 1 100%;
}

.awesomeimage img {
  margin-left: 17px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 18px;
  min-height: 285.6px;
}

.randombox {
  width: 100%;
  min-height: 300px;
  height: auto;
  padding-bottom: 30px;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.randombox h1 {
  margin: 30px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  background: rgb(206, 103, 246);
  background: radial-gradient(
    circle,
    rgba(206, 103, 246, 1) 0%,
    rgba(122, 55, 210, 1) 59%,
    rgba(88, 17, 131, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.buttoncontainer {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #1f2937;
  flex-wrap: wrap;
}
.button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.button1,
.button2,
.button3,
.button4 {
  margin: 10px;
}

.button img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.testimonialbox {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.36);
  height: auto;
  display: flex;
  justify-content: center;
  padding: 50px;
}
.testimonialtext {
  width: 60%;
  font-size: 30px;
  font-style: italic;
  color: #1f2937;
  text-align: justify;
}
.testimonialtext b {
  display: block;
  text-align: right;
  margin: 10px;
}
.actioncontainer {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.actionbox {
  background-color: rgba(31, 41, 55, 0.8);
  border-radius: 10px;
  width: 60%;
  min-height: 100px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  padding: 10px;
}

.actioncontent {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actiontext h1 {
  font-size: 18px;
  margin: 0;
}
.actionbutton {
  border: 3px solid #e5e7eb;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}
.actionbutton:hover {
  background-color: #e5e7eb;
  color: #1f2937;
}
.footer {
  width: 100%;
  height: 100px;
  color: #e5e7eb;
  font-size: 18px;
  text-align: center;
  line-height: 100px;
}
.footer a {
  color: #e5e7eb;
}
