body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #1f2937;
}

.headertop {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.navbar {
  width: 80%;
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.headerlogo {
  font-size: 24px;
  font-weight: 700;
}

.headerlink1,
.headerlink2,
.headerlink3 {
  font-size: 18px;
  color: #e5e7eb;
  margin-left: 15px;
}

.headerlink1 {
  margin-left: auto;
}

.mainbox {
  margin: auto;
  width: 80%;
  height: auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.awesometext {
  flex: 1 1 100%;
  max-width: fit-content;
}

.awesomeimage {
  flex: 1 1 100%;
}

.awesomeimage img {
  margin-left: 20px;
  max-width: 100%;
  object-fit: cover;
}

.mainbox h1 {
  font-size: 48px;
  font-weight: 900;
}

.randombox {
  width: 100%;
  height: 300px;
  padding-bottom: 20px;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.randombox h1 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}
.buttoncontainer {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #1f2937;
}
.button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.button1,
.button2,
.button3,
.button4 {
  margin: 10px;
  width: 140px;
  height: 140px;
  border: 3px solid#3882F6;
  border-radius: 5px;
}

.buttonimage {
}

.testimonialbox {
  background-color: #e5e7eb;
  height: 200px;
}

.actioncontainer {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.actionbox {
  background-color: #3882f6;
  border-radius: 10px;
  width: 80%;
  height: 100px;
}

.footer {
  width: 100%;
  height: 100px;
}
